<h1 style="text-align: center; margin: 50px">{{ title }}</h1>
<!-- <app-heroes
  class="flex jc-center ai-center flex-dir-col"
  style="flex-wrap: wrap; min-height: 100%; flex: 1 0 auto"
></app-heroes> -->
<nav class="nav flex ai-center jc-center">
  <a class="link" routerLink="/">Home</a>
  <a class="link" routerLink="/dashboard">Dashboard</a>
  <a class="link" routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages
  class="flex jc-center ai-center flex-dir-col"
  style="flex-wrap: wrap; flex-shrink: 0"
></app-messages>
