<ul class="flex jc-center">
  <li
    *ngFor="let hero of heroes"
    class="flex jc-center flex-dir-col"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <div class="name" [style.display]="hero?.name ? 'normal' : 'none'">
      <h3>name:</h3>
      <div>{{ hero?.name }}</div>
    </div>
    <div
      class="elem_type"
      [style.display]="hero?.element_type ? 'normal' : 'none'"
    >
      <h3>element_type:</h3>
      <div>{{ hero?.element_type }}</div>
    </div>
    <div
      class="level"
      [style.display]="hero?.level ? 'normal' : 'none'"
      class="flex"
    >
      <h3>level:</h3>
      <div>{{ hero?.level }}</div>
    </div>
    <div
      class="type"
      [style.display]="hero?.type ? 'normal' : 'none'"
      class="flex"
    >
      <h3>type:</h3>
      <div>{{ hero?.type?.join(" / ") }}</div>
    </div>
    <div class="effect" [style.display]="hero?.effect ? 'normal' : 'none'">
      <h3>effect:</h3>
      <div>{{ hero?.effect }}</div>
    </div>
    <div class="text" [style.display]="hero?.text ? 'normal' : 'none'">
      <h3>text:</h3>
      <p>{{ hero?.text }}...</p>
    </div>
    <div
      class="status"
      [style.display]="hero?.atk && hero?.def ? 'normal' : 'none'"
      class="flex"
    >
      <div class="atk">
        <h3>atk</h3>
        <div>{{ hero?.atk }}</div>
      </div>
      <div class="def">
        <h3>def</h3>
        <div>{{ hero?.def }}</div>
      </div>
    </div>
  </li>
</ul>
