<div
  style="margin: 30px; transition: all 1s"
  [style.opacity]="selectedHero ? '100' : '0'"
>
  <h2>{{ selectedHero?.name }} Detail</h2>
  <div>
    <input
      *ngIf="selectedHero"
      [(ngModel)]="selectedHero.name"
      placeholder="name"
    />
  </div>
</div>

<ul class="flex jc-center flex-dir-col">
  <li
    *ngFor="let hero of heroes"
    class="flex jc-center flex-dir-col"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <div class="name" [style.display]="hero?.name ? 'normal' : 'none'">
      <h1>{{ hero?.name }}</h1>
    </div>
  </li>
</ul>
